@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.container
{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 220px);
    min-height: 300px;
    /*background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);*/
    border-radius: 20px;
    background: linear-gradient(226deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.12) 100%);
    box-shadow: 4px 8px 24px -1px rgba(0, 0, 0, 0.20);
    /*backdrop-filter: blur(12px);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(146deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Poppins';
}
header ul
{
    display:  flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover,
header ul li a.active
{
    background: linear-gradient(180deg, #7E2577 0%, #C15161 100%);
    box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15), 0px 2px 4px 0px rgba(136, 144, 194, 0.20);
}

.content
{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 60px;
    padding-left: 110px;
}
.content h2
{
    font-size: 2.6em;
    color: #ffffff;
}
.content p
{
    font-size: 1.2em;
    color: #ffffff;
}
/*
.content a
{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
*/

.imgBx img
{
    max-width: 700px;
    animation: animate 5s linear infinite;
}
@keyframes animate 
{
    0%,100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(100px);
    }
}