@font-face {
    font-family: Whyte-Inktrap;
    src: url(/assets/Whyte-Inktrap-Regular.otf);
}

*{
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    font-family: Whyte-Inktrap;
}

.nav{
    width: 99vw;
    height: 100px;
    display: flex;
    justify-content: center;
}

.nav-bar{
    width: 1160px;
    height: 100px;
    background-image: url(/assets/download.jpg);
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;
}

a{
    text-decoration: none;
    z-index: 2;
}

button{
    height: 40px;
    width: 120px;
    border-color: blueviolet;
    background-color: #000;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
}

.background{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.background img{
    pointer-events: none;
    width: 60vw;
}

@media only screen and (max-width: 1200px){
    .nav-bar{
        width: 100vw;
    }
    .background img{
        width: 98vw;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .background img{
        width: 75vw;
    }
}

main{
    width: min(1126px, 98vw);
    margin: auto;
}

.pheader p{
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
    font-family: Whyte-Inktrap;
    font-weight: 700;
    color: #f1f1f1;
    background: url(/assets/download.jpg);
    padding: 6px;
    border-radius: 8px;
}

.slider{
    margin-top: 16px;
    margin-bottom: 12px;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) )!important;
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

.foot{
    width: 99vw;
    height: 100px;
    display: flex;
    justify-content: center;
}

.footer{
    width: 1160px;
    height: 100px;
    background: url(/assets/download.jpg);
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;
}

/* Loader */
.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 80px;
    height: 50px;
    position: relative;
}
  
.loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #C8B6FF;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
}
  
.load {
    background-color: #9A79FF;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
}
  
.load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #D1C2FF;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}
  
  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
   
   
  
  